/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{

}

#header{
    height: 46.5px;
    background-color:black;
}

#nav li{
    display: inline-block;
}

#nav li:hover a{
    color:white;
    background-color: #ccc;
}

#nav .subnav{
    display: none; 
}

#nav li a{
    color:white;
    text-decoration: none;
    display: inline-block;
    padding: 0 24px;
    line-height: 46.5px;
}

#slider{

}

#content{

}

#footer{

}